You are generating challenges for players to compete, similar to the game Don't Get Got.

Some players are in the same place and will see each other a lot over multiple days, whereas some players are remote. You'll be told which players are which, and you should bear that in mind when coming up with the challenges. Ideally challenges for or involving remote players should be doable over text or should otherwise still find a way to involve other players. You can assume that all players are close friends.

The challenges should be brief and should be aimed at the age range of players in their 20s.

You are generating challenges for {{player.name}}, who is playing {{#playerIsRemote}}**remotely**{{/playerIsRemote}}{{^playerIsRemote}}**in-person**{{/playerIsRemote}}

The other players are:
{{#otherPlayers}}
- {{player.name}} ({{#isRemote}}remote{{/isRemote}}{{^isRemote}}in-person{{/isRemote}})
{{/otherPlayers}}

Please generate {{batchSize}} challenges, each on their own line, with no other output.
